* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .logo-container {
    margin-left: 50px;
}
nav .logo-container img {
    width: 300px;
    margin-top: 10px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

.home-container {
    width: 100%;
    height: 100%;
    margin-top: 16px;
}
.home-container .home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.home-container-items {
    padding: 120px 0;
    display: grid;
    position: relative;
    justify-content: center;
    align-content: center;
}

.home-tittle {
    font-size: 3.5rem;
    font-weight:lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 800px;
    text-align: center;
}

.home-button {
    padding: 120px;
    text-align: center;
}

.home-button button {
    width: 120px;
    height: 50px;
    background-color: #47cfac;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    border: 1px solid #47cfac;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
    margin-top: 16px;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-main-new h3 {
    font-size: 2.4rem;
    padding: 10px 0;
}

.blogs-news-img {
    grid-column: 1;
}

.blogs-news-img img {
    width: 80%;
}

.blogs-news-info-container {
    grid-column: 2;
    font-size: 2rem;
    margin: 30px 0;
}

.blogs-news-info-container p {
    font-size: 1.6rem;
    margin: 26px 0;
}

.blogs-posts-container {
    padding: 0 50px 40px;
    text-align: center;
}

.blogs-posts-container h3 {
    border-bottom: 1px solid #e6e9ed;
    padding: 20px 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
}

.blogs-button {
    border: 2px solid #47cfac;
    padding: 10px 15px;
    margin-top: 18px;
    font-size: 1.4rem;
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding: 0 30px;
    max-width: 30%;
    margin: 50px 0;
    text-align: start;
}

.blogs-posts-container .post-container h4 {
    margin: 24px 0;
    font-size: 2rem;
}

.blogs-posts-container .post-container p {
    margin: 24px 0;
    font-size: 1.6rem;
}

.blogs-posts-container .post-container img {
    width: 100%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #22272d;
    border-top: 36px solid #47cfac;
    text-align: center;
}
footer p {
    color: white;
    margin: 20px 0;
    font-size: 1.8rem;
}

.blogpost-img-container {
    padding: 0 50px 40px;
    margin-top: 16px;
    text-align: center;
}

.blogpost-img-container img {
    width: 90%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid #e6e9ed;
    padding-bottom: 20px;
    font-size: 2rem;
}

.blogpost-main-container article h1 {
    font-size: 3rem;
    margin: 10px 0;
}

.blogpost-main-container article p {
    font-size: 1.6rem;
    margin: 24px 0;
}

.contact-main-container {
    width: 100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 50px;
    font-size: 2rem;
}

.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.contact-main-container div a {
    border-bottom: 1px solid black;
}

.contact-main-container .contact-left, .contact-right {
    text-align: initial;
    margin-top: 80px;
}

.contact-main-container img {
    width: 100px;
}

.contact-left a {
    margin: 10px 0;
}

.profile-container {
    width: 100%;
    padding: 50px 100px;
    background-color: #e6e9ed;
}

.profile-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.profile-content h4 {
    font-size: 2rem;
    margin-top: 20px;
}

.profile-content p {
    font-size: 1.6rem;
}

.profile-container .profile-content img {
    width: 320px;
    margin-right: 20px;
} 

.proyects-container {
    width: 100%;
    padding: 50px 100px;
}

.proyects-tittle h3 {
    font-size: 2.4rem;
    border-bottom: 1px solid #e6e9ed;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.proyects-info-container {
    max-width: 980px;
    margin: auto;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.proyect-info {
    padding: 10px;
}

.proyect-info p {
    font-size: 1.6rem;
    margin: 20px 0;
}