@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .profile-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-container .profile-content {
        display: block;
    }
    .proyects-info-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
}

@media (max-width: 650px) {
    .blogs-posts-container .post-container {
        max-width: 90%;
    }
}